* {
  margin: 0;
  padding: 0;
  /* font-size: 15px; */
}

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 37%, 16%);
  --stat-heading: hsla(0, 0%, 100%, 0.6);
  /* --accent: hsl(277, 64%, 61%); */
  --main-font-color: hsl(0, 0%, 100%);
  --main-para-color: hsla(0, 0%, 100%, 0.75);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
}

.container {
  box-sizing: border-box;
  overflow: hidden;
  color: var(--main-font-color);
  margin: 15px;
  border-radius: 12px;
  background-color: var(--card-background);
}

.hero {
  background-image: url('./images/image-header-mobile.jpg');
  background-size: cover;
  height: 200px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero::after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(277, 64%, 61%, 0.45);
  z-index: 2;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin: 30px 0 16px 0;
}

h1 > span {
  color: hsl(277, 64%, 61%);
}

h1 + p {
  line-height: 24px;
}

h1,
h2 {
  font-family: 'Lexend Deca', sans-serif;
}

p {
  margin-bottom: 30px;
  color: var(--main-para-color);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url('./images/image-header-desktop.jpg');
    height: auto;
    order: 2;
    background-size: cover;
  }
  .container {
    display: flex;
  }

  .stats {
    padding: 20px 30px;
    order: 1;
  }
}
